# Machine Learning Foundation

## Section 1, Part a: Reading Data

### Learning Objective(s)

 - Create a SQL database connection to a sample SQL database, and read records from that database
 - Explore common input parameters

### Packages

 - [Pandas](https://pandas.pydata.org/pandas-docs/stable/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01)
 - [Pandas.read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01)
 - [SQLite3](https://docs.python.org/3.6/library/sqlite3.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01)

## Simple data reads

Structured Query Language (SQL) is an [ANSI specification](https://docs.oracle.com/database/121/SQLRF/ap_standard_sql001.htm?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01#SQLRF55514), implemented by various databases. SQL is a powerful format for interacting with large databases efficiently, and SQL allows for a consistent experience across a large market of databases. We'll be using sqlite, a lightweight and somewhat restricted version of sql for this example. sqlite uses a slightly modified version of SQL, which may be different than what you're used to.

In [28]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

### Database connections

Our first step will be to create a connection to our SQL database. A few common SQL databases used with Python include:

 - Microsoft SQL Server
 - Postgres
 - MySQL
 - AWS Redshift
 - AWS Aurora
 - Oracle DB
 - Terradata
 - Db2 Family
 - Many, many others
 
Each of these databases will require a slightly different setup, and may require credentials (username & password), tokens, or other access requirements. We'll be using `sqlite3` to connect to our database, but other connection packages include:

 - [`SQLAlchemy`](https://www.sqlalchemy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01) (most common)
 - [`psycopg2`](http://initd.org/psycopg/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01)
 - [`MySQLdb`](http://mysql-python.sourceforge.net/MySQLdb.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork837-2023-01-01)

In [29]:
# Download the database
!wget -P data https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/classic_rock.db

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [30]:
# Define the database path
db_path = "data/classic_rock.db"

# Establish a connection
connection = sq3.connect(db_path)
print("Connection established:", connection)

Connection established: <sqlite3.Connection object at 0x0000026F6000F100>

### Reading data

Now that we've got a connection to our database, we can perform queries, and load their results in as Pandas DataFrames

In [31]:
# Define the query
query = "SELECT * FROM rock_songs"

# Execute the query and load results into a Pandas DataFrame
rock_songs = pd.read_sql(query, connection)

# Display the first five rows
print(rock_songs.head())

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

In [32]:
# Define a query to select specific columns
query = "SELECT artist, release_year FROM rock_songs"

# Execute the query
selected_columns = pd.read_sql(query, connection)
print(selected_columns.head())

         Artist  Release_Year
0   .38 Special        1982.0
1   .38 Special        1981.0
2   .38 Special        1980.0
3          10cc        1975.0
4  3 Doors Down        2000.0

### Grouping and Aggregating Data

In [35]:
# Define an advanced query
query = """
SELECT
    Artist,
    Release_Year,
    COUNT(*) AS num_songs,
    AVG(PlayCount) AS avg_plays
FROM
    rock_songs
GROUP BY
    Artist, Release_Year
ORDER BY
    num_songs DESC
"""

# Execute the query
grouped_data = pd.read_sql(query, connection)
print(grouped_data.head())

         Artist  Release_Year  num_songs  avg_plays
0   The Beatles        1967.0         23   6.565217
1  Led Zeppelin        1969.0         18  21.000000
2   The Beatles        1965.0         15   3.800000
3   The Beatles        1968.0         13  13.000000
4   The Beatles        1969.0         13  15.000000

In [37]:
# Define a query with a WHERE condition
query = """
SELECT *
FROM rock_songs
WHERE PlayCount > 1000
"""

# Execute the query
filtered_songs = pd.read_sql(query, connection)
print(filtered_songs.head())

Empty DataFrame
Columns: [Song, Artist, Release_Year, PlayCount]
Index: []

In [13]:
# Write the query
query = '''
SELECT *
FROM rock_songs;
'''

# Execute the query
observations = pds.read_sql(query, con)

observations.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

### Combining Aggregation and Sorting

In [39]:
# Define a query to find the most popular artists
query = """
SELECT
    artist,
    SUM(PlayCount) AS total_plays
FROM
    rock_songs
GROUP BY
    artist
ORDER BY
    total_plays DESC
"""

# Execute the query
popular_artists = pd.read_sql(query, connection)
print(popular_artists.head())

                          Artist  total_plays
0                   Led Zeppelin         1546
1                 Rolling Stones         1112
2                      Van Halen         1055
3                     Pink Floyd         1044
4  Tom Petty & The Heartbreakers          916

### Optimizing Data Retrieval with Parameters

chunksize: Processing Data in Smaller Batches

In [40]:
# Define the query
query = "SELECT * FROM rock_songs"

# Retrieve data in chunks of 5 rows
chunk_size = 5
observation_generator = pd.read_sql(query, connection, chunksize=chunk_size)

# Process each chunk
for index, chunk in enumerate(observation_generator):
    if index < 2:  # Limit to first two chunks for demonstration
        print(f"Chunk {index + 1}:\n", chunk)

Chunk 1:
                      Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13
Chunk 2:
             Song         Artist  Release_Year  PlayCount
0          Loser   3 Doors Down        2000.0          1
1  When I'm Gone   3 Doors Down        2002.0          6
2     What's Up?  4 Non Blondes        1992.0          3
3     Take On Me           a-ha        1985.0          1
4  Back In Black          AC/DC        1980.0         97

coerce_float: Ensuring Numeric Consistency

In [42]:
# Retrieve data with coercion to float
data = pd.read_sql(query, connection, coerce_float=True)
print(data.dtypes)

Song             object
Artist           object
Release_Year    float64
PlayCount         int64
dtype: object

parse_dates: Parsing Date Columns

In [43]:
# Parse the 'Release_Year' column as a datetime object
query = "SELECT Song, Artist, Release_Year FROM rock_songs"
data = pd.read_sql(query, connection, parse_dates=["Release_Year"])
print(data.dtypes)

Song                    object
Artist                  object
Release_Year    datetime64[ns]
dtype: object

Combining Parameters for Advanced Optimization

In [44]:
# Advanced data retrieval with multiple optimizations
query = "SELECT * FROM rock_songs"
chunk_size = 5
optimized_generator = pd.read_sql(
    query,
    connection,
    chunksize=chunk_size,
    coerce_float=True,
    parse_dates=["Release_Year"]
)

# Process first few chunks
for index, chunk in enumerate(optimized_generator):
    if index < 2:
        print(f"Optimized Chunk {index + 1}:\n", chunk)

Optimized Chunk 1:
                      Song        Artist        Release_Year  PlayCount
0        Caught Up in You   .38 Special 1970-01-01 00:33:02         82
1         Hold On Loosely   .38 Special 1970-01-01 00:33:01         85
2  Rockin' Into the Night   .38 Special 1970-01-01 00:33:00         18
3       Art For Arts Sake          10cc 1970-01-01 00:32:55          1
4              Kryptonite  3 Doors Down 1970-01-01 00:33:20         13
Optimized Chunk 2:
             Song         Artist        Release_Year  PlayCount
0          Loser   3 Doors Down 1970-01-01 00:33:20          1
1  When I'm Gone   3 Doors Down 1970-01-01 00:33:22          6
2     What's Up?  4 Non Blondes 1970-01-01 00:33:12          3
3     Take On Me           a-ha 1970-01-01 00:33:05          1
4  Back In Black          AC/DC 1970-01-01 00:33:00         97